@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --clr-primary: #4d89bd;
    --clr-ligt: #a1c6e7;
    --clr-white: #fff;
    --clr-black: #333;
    --clr-gray: #cfcfcf;
}

body {
    font-style: 'Roboto';
}

nav {
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--clr-gray);
}

nav ul {
    display: flex;
    gap: 5rem;
    list-style: none;
    margin: 20px 70px;
}

nav h1 {
    padding: 20px 50px;
    color: var(--clr-primary);
    font-size: 2rem;
}

nav ul li a{
    text-decoration: none;
    color: #5F9BCE;
    padding: 10px 15px;
    transition: all 250ms ease;
    font-size: 1.2rem;
}

nav ul li a:hover {
    background-color: var(--clr-black);
    color: var(--clr-white);
    border-radius: 100vh;
}

/* Hero */

.hero {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 70px 0;
}

.hero-img {
    width: 700px;
}

.hero-txt h1 {
    font-size: 3rem;
    color: var(--clr-primary);
    margin: 10px 0;
}

.hero-txt p {
    color: var(--clr-gray);
    font-size: 1.2rem;
}

/* Show */

.show {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    background: var(--clr-ligt);
    color: var(--clr-white);
}

.show img{
    width: 80%;
    background: var(--clr-white);
    margin: 30px;
}

.show-txt {
    margin: 40px;
}

.show-txt h3{
    text-align: center;
    margin: 30px;
    font-size: 1.5rem;
}

.show-txt p {
    font-size: 1.2rem;
    margin: 10px;
    margin-bottom: 40px;
}

.show-txt a {
    padding: 20px 30px;
    background: var(--clr-black);
    border-radius: 100vh;
    color: var(--clr-white);
    text-decoration: none;
    transition: all 250ms ease;
}

.show-txt a:hover {
    background-color: var(--clr-primary);
}